Order: #<%= @order.id %>
Your ordered <%= @order.products.count %> products:
<% @order.products.each do |product| %>
  <%= product.quantity %>x <%= product.title %> - <%= number_to_currency product.price %>
<% end %>
Total: <%= number_to_currency(@order.total) %>
